@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
html {
  font-family: "Libre Baskerville", serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(70deg, #485563, 50%, #29323c); */
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/1de12dfa-1ee7-4374-999a-8a8528504d1f);
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}
.true-success {
  max-width: 420px;
  min-height: 400px;
}
section {
  /* width: 100%; */
  /* max-width: 420px;
  min-height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background: rgba(200, 200, 224, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 25px;
  overflow: hidden;
  width: min(420px, 95%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.64);
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.4rem;
  border-radius: 25px;
  background-color: transparent;
  border: none;
  background: linear-gradient(50deg, #ecea75, 40%, #640a0a);
  cursor: pointer;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  /* font-weight: bold; */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
}

.line {
  display: inline-block;
}
.link-signin {
  font-size: 16px;
}

.welcome {
  /* margin-bottom: 70px; */
  /* padding-bottom: 70px; */
  position: absolute;
  top: 70px;
  font-size: 90px;

  font-family: "Dancing Script", cursive;
}
